              －－－「金庸群侠传」游戏规则－－－

	「金庸群侠传」是建立在「东方故事Ⅱ」 mudlib 上的一个 MUD，
我们的目的是为广大在 Internet 上玩的、能够读写汉字的朋友们提供
一个消遣时间，谈天说地的地方。当然，就象其他的 MUD一样，我们需
要一套规则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意遵守
以下规则的朋友请勿加入本游戏，谢谢。

	＊	请在公开交谈时尽量使用中文。
	＊	请勿辱骂任何一位玩家。
	＊	请用 tell 或 reply 来进行私人交谈。
	＊	请勿故意使用和他人一模一样的姓名。
	＊	严禁多人共用一个人物。
	＊	严禁利用ＢＵＧ牟利。
	＊	严禁泄露谜题，机关解法。
	＊	允许互相ＰＫ，下毒，抢劫，行窃(但是不赞成）。
	＊	所有巫师除了必须遵守以上规则外，还要遵守 wizrules。 

	巫师协会保留对犯规行为采取任何处理办法的权利。

	By Jacky Boy [1998.9.9]